.sobre__redes {
	margin-bottom: 1.75rem;
}

.sobre__redes__lista {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.sobre__redes__item {
	/*color: var(--verde-secundario);*/
	margin-right: 2rem;
	font-size: 2rem;
	margin-bottom: 2rem;
}

.sobre__redes__item:last-child {
	margin-right: 0;
}


.sobre__redes__item:hover {
	cursor: pointer;
	border-bottom: solid var(--verde-secundario) 1px;
	transform: translateY(1px);
}

@media screen and (max-width: 768px) {
	.sobre__redes {
		margin-bottom: 0;	
	}

	.sobre__redes__lista {
		flex-direction: column;
		justify-content: space-around;
	}
}