.sobre__container {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: calc(100% - 2.5rem - 1.75rem*2);
	justify-content: space-between;
}

@media screen and (max-width: 768px) {
	.sobre__container {
		height: auto;
	}
}